.wp-caption{margin: 0;}
.wp-caption-text{margin: 0;}
.sticky{margin: 0;}
.gallery-caption{margin: 0;}
.bypostauthor{margin: 0;}
.alignright{margin: 0;}
.alignleft{margin: 0;}
.aligncenter{margin: 0;}