.l-footer {
    height: 150px;
    width: 100%;
    background-color: $footer;
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}